header {
  @include font-raleway;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  padding-bottom: 2rem;

  .brand {
    padding: 2rem;

    img {
      width: 152px;
    }
  }

  .links a {
    color: $white;
    opacity: .8;
    padding: 1rem;
    text-decoration: none;

    &:hover {
      opacity: 1;
      transition: .3s all;
    }
  }
}
