main {

  img {
    max-width: 600px;
  }

  .intro {
    $max-width: 552px;

    &__title {
      @include font-raleway;
      max-width: $max-width;
    }

    &__description {
      font-weight: normal;
      max-width: $max-width - 80px;
    }
  }
}
